mixinSection()

  $sectionOffsetVertical = 4rem
  $sectionOffsetHorizontal = 2rem
  $sectionOffsetVerticalMobile = 2rem
  $sectionOffsetHorizontalMobile = 2rem

  $width = $sectionWidth

  .section
    &:last-child
      margin-bottom 4rem



  .container
    position relative
    padding $sectionOffsetVerticalMobile $sectionOffsetHorizontalMobile
    height inherit


  @media $desktop
   .section
      &:last-child
        margin-bottom 8rem

    .container
      margin 0 auto
      padding $sectionOffsetVertical $sectionOffsetHorizontal
      width $width




mixinSection()
