//- pageTitle: Новая страница
//- pageCategory: Страницы
//- date: 12.12.2018
//- status: wait

extends ../layouts/layout.pug

append vars
  -
    setDefs({
      pageTitle: 'Новая страница',
      isSigned: false,
      menuActiveIndex: -1
    })


block content
  +section()
    h1!= DEFS.pageTitle

