//- pageTitle: Главная
//- pageCategory: Страницы
//- date: 12.12.2018
//- status: wait

extends ../layouts/layout.pug

append vars
  -
    DEFS.pageTitle = 'Главная';
    DEFS.isSigned = false;
    DEFS.menuActiveIndex = 0;


block content
  +section()
    h1 Главная страница

