//- pageTitle: Страница не найдена
//- pageCategory: Страницы
//- date: 12.12.2018
//- status: done

extends ../layouts/layout.pug

include ../components/page-404/page-404.pug


append vars
  - pageClass = 'page--404';

block content
  +page-404()

