//- pageTitle: Компоненты
//- pageCategory: UI
//- date: 12.12.2018
//- status: wip

extends ../layouts/layout.pug

append vars
  -
    setDefs({
      pageTitle: 'UI',
      isSigned: true,
      menuActiveIndex: 2
    })

block content
  +section()
    h1 UI
  +section()
    h2 typo
  +section()
    h2 text
  +section()
    h2 form
