// Common styles of the project

html
  height 100%
  font-size 10px
  font-family $font
  color $black

// @media screen and (max-width: 767px) {
//   html {
//     font-size: calc(10px + 13 * (100vw - 320px) / 447);
//   }
// }
// @media (min-width: 768px)  and (max-width: 1360px) {
//   html {
//     font-size: calc(5.6px + 4.4 * (100vw - 768px) / 592);
//   }
// }
@media screen and (max-width: 767px)
  html
    font-size calc(10px + 13 * (100vw - 320px) / 447)

@media screen and (min-width: 768px) and (max-width: 1023px)
  html
    font-size calc(10px + 6 * (100vw - 768px) / 255)

@media (min-width: 1024px)  and (max-width: 1360px)
  html
    font-size calc(8.5px + 1.5 * (100vw - 1024px) / 336)

_:default:not(:root:root),
html {
  animation: webkitfix 1s forwards infinite;
}
@-webkit-keyframes webkitfix {
  100% {
    z-index: auto;
  }
}

body
  height 100%
  display flex
  flex-direction column

  font-size 1.4rem
  font-weight $regular
  font-smoothing antialiased
  -webkit-font-smoothing antialiased

*
  box-sizing border-box

.page
  background $white
  .page__content
    color $black
    a
      color $black

.page--layout-dark
  background $dark
  .page__content
    color $white
    a
      color $white

.page__wrapper, .page__footer
  width 100%

.page__content
  flex auto
  // display flex
  // flex-direction column


h1, h2, h3, h4, h5, h6
  margin 0
  font-weight $bold
img
  max-width 100%
b, strong
  font-weight $bold

a
  color $black
  text-decoration none
  &.link-underline
    text-decoration underline

p
  margin 0
  & + p
    margin 2rem 0 0

ul
  margin 0
  padding 0
  list-style none

svg
  width 100%
  height 100%
  display block
button
  -webkit-appearance none
  border none
  background-color transparent


.visually_hidden
  position absolute!important
  overflow hidden!important
  clip rect(0 0 0 0)
  height 1px!important
  width 1px!important
  margin -1px!important
  padding 0!important
  border 0!important

.visually_hidden--desktop
  @media $desktop
    position absolute!important
    overflow hidden!important
    clip rect(0 0 0 0)
    height 1px!important
    width 1px!important
    margin -1px!important
    padding 0!important
    border 0!important
.visually_hidden--mobile
  @media $mobile
    position absolute!important
    overflow hidden!important
    clip rect(0 0 0 0)
    height 1px!important
    width 1px!important
    margin -1px!important
    padding 0!important
    border 0!important
