/// *** CUSTOMIZE **** ///
  // regular 400
  // medium 500
  // semi-bold 600
  // bold 700

// @font-face
//   font-family 'Giorgio Sans Bold'
//   src url('../fonts/giorgio_sans_bold_web.woff2') format('woff2'), url('../fonts/giorgio_sans_bold_web.woff') format('woff'), url('../fonts/giorgio_sans_bold_web.ttf') format('truetype')
//   font-weight: 700
//   font-style: normal
