// *** row ***
.row
  display flex
  flex-wrap wrap

  &.ai-c
    align-items center
  &.ai-b
    align-items flex-end
  &.jc-sb
    justify-content space-between
  &.jc-c
    justify-content center
  &.jc-fe
    justify-content flex-end
  >.col
    flex-grow 1
    flex-basis 0
    max-width 100%
    &.no-grow
      flex-grow 0
  >[class^=col-]
    // for all col-constant
    position relative
    min-height 1px
    width 100%

.col-12
  flex 0 0 100%
  max-width 100%
.col-10
  flex 0 0 83.333333%
  max-width 83.333333%
.col-9
  flex 0 0 75%
  max-width 75%
.col-8
  flex 0 0 66.666667%
  max-width 66.666667%
.col-7
  flex 0 0 58.333333%
  max-width 58.333333%
.col-6
  flex 0 0 50%
  max-width 50%
.col-5
  flex 0 0 41.666667%
  max-width 41.666667%
.col-4
  flex 0 0 33.333333%
  max-width 33.333333%
.col-3
  flex 0 0 25%
  max-width 25%
.col-2
  flex 0 0 16.666667%
  max-width 16.666667%
.col-1
  flex 0 0 8.3333333%
  max-width 8.3333333%

@media $desktop
  .row
    &.p-40
      $size = 2rem
      margin - $size
      >[class^=col]
        padding $size

@media $tablet
  .row
    //-
  .col-t-12
    flex 0 0 100%
    max-width 100%
  .col-t-10
    flex 0 0 83.333333%
    max-width 83.333333%
  .col-t-9
    flex 0 0 75%
    max-width 75%
  .col-t-8
    flex 0 0 66.666667%
    max-width 66.666667%
  .col-t-7
    flex 0 0 58.333333%
    max-width 58.333333%
  .col-t-6
    flex 0 0 50%
    max-width 50%
  .col-t-5
    flex 0 0 41.666667%
    max-width 41.666667%
  .col-t-4
    flex 0 0 33.333333%
    max-width 33.333333%
  .col-t-3
    flex 0 0 25%
    max-width 25%
  .col-t-2
    flex 0 0 16.666667%
    max-width 16.666667%
  .col-t-1
    flex 0 0 8.3333333%
    max-width 8.3333333%

@media $mobile
  .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12
    flex 0 0 100%
    max-width 100%
  .row
    &.p-40
      $size = 2rem
      margin 3.5rem 0 0
      >[class^=col] + [class^=col]
        margin-top 1.5rem
