#__bs_notify__
  display none!important
/// *** FONTS *** ///
.title
  &--80
    font-size 8rem
  &--60
    font-size 6rem
  &--50
    font-size 5rem
  &--40
    font-size 4rem
  &--36
    font-size 3.6rem
  &--30
    font-size 3rem
  &--22
    font-size 2rem
  &--20
    font-size 2rem

.title
  &--80
  &--60
  &--50
  &--40
  &--36
  &--30
  &--22
  &--20
    font-family $fontTitle
    text-transform uppercase
    line-height 1

.text
  &--24
    font-size 2.4rem
    line-height 3rem
  &--20
    font-size 2rem
    line-height 2.4rem
  &--18
    font-size 1.8rem
    line-height 2.6rem
  &--16
    font-size 1.6rem
    line-height 2.4rem
  &--14
    font-size 1.4rem
    line-height 1.6rem
  &--12
    font-size 1.2rem
    line-height 2rem

@media $mobile
  .title
    &--36
      font-size 2.2rem
  .text
    &--24
      font-size 1.8rem
      line-height 2.6rem
    &--18
      font-size 1.6rem
