#__bs_notify__
  display none!important
/// *** FONTS *** ///
.title
  &--50
    font-size 5rem
  &--40
    font-size 4rem

.title
  &--50
  &--40
    font-family $fontTitle
    text-transform uppercase
    line-height 1

.text
  &--24
    font-size 2.4rem
    line-height 3rem

@media $mobile
  //-
