/// *** fonts **** ///
  $font = 'Custom Font Name', sans-serif;

  $regular = 400
  $medium = 500
  $bold = 700

/// *** media **** ///
  $mobile = 'screen and (max-width: 767px)'
  $desktop = 'screen and (min-width: 768px)'


/// *** colors **** ///

/// *** transition *** ///

  $transitionColor = color 200ms ease-out





