/// *** fonts **** ///
  $font = 'Roboto', sans-serif;
  $fontTitle = 'Giorgio Sans Bold', Impact, Helvetica, Arial, sans-serif;

  $regular = 400
  $medium = 500
  $bold = 700

/// *** media **** ///
  $mobile = 'screen and (max-width: 767px)'
  $desktop = 'screen and (min-width: 768px)'


/// *** colors **** ///
  $white = #FFFFFF
  $black = #000000
  $dark = #1C1D1D
  $gray = #596064
  $gray_bb = #BBB9B9
  $gray_e3 = #E3E4E5
  $gray_eb = #EBECEC


  $red = #EE3127
  $yellow = #E4F140
  $purple = #7C36FF
  $blue = #2797FF
  $green = #42FF9C
  $orange = #F6841F
  $gold = #D7AF75

/// *** transition *** ///

  $transitionColor = color 200ms ease-out





