/// *** fonts **** ///
  $font = 'Arial', sans-serif;
  // $fontTitle = 'Giorgio Sans Bold', Impact, Helvetica, Arial, sans-serif;

  $ultraBold = 900
  $bold = 700
  $medium = 500
  $regular = 400
  $light = 300
  $ultraLight = 200
  $thin = 100

/// *** container **** ///
  $containerWidth = 120rem
  // $containerWidthLargeDesktop = calc(1200px + 200 * (100vw - 1360px) / 640)

/// *** media **** ///
  $mobile = 'screen and (max-width: 767px)'
  $tablet = 'screen and (min-width: 768px) and (max-width: 1023px)'
  $mobile-tablet = 'screen and (max-width: 1023px)'
  $tablet-desktop = 'screen and (min-width: 768px)'
  $desktop = 'screen and (min-width: 1024px)'


/// *** colors **** ///
  $white = #FFFFFF
  $black = #000000
  $gray = #CCCCCC

/// *** transition *** ///

  $transitionColor = color 200ms ease-out
