mixin footer(data= {})

  footer.footer(class=className)
    +container()
      nav.menu
        ul.menu_nav
          each menuItem, index in MENU
            if menuItem.isInFooter
              - if (menuItem.isIfSignedIn && DEFS.isSigned || !menuItem.isIfSignedIn)
                li(class= index === DEFS.menuActiveIndex ? 'active' : '' class=menuItem.className)
                  a(href=menuItem.href )!= menuItem.title
      .bottom
        .copy!=`© 2018 ${COMPANY_NAME}`
        a.agreement(href="#") Политика конфиденциальности
      .create
        a(href="http://pink-man.ru" target="_blank") Сайт сделал –
          +svg({iconName: 'logo-pinkman'})


