mixinHeader()
  $headerHeight = 11rem
  $headerHeightMobile = 5rem

  @supports(position:sticky)
    .page__header
      position sticky
      top 0
      z-index 100


  .header
    background $white
    position relative
    color $black

    a
      color $black

    .logo
      @extend .title--50
      display inline-block

  @media $mobile
    .header
      height $headerHeightMobile
      box-shadow inset 0 0.8rem 0 -0.4rem $dark, 0 2px 5px 0 rgba($black,0.13)
      .actions
        position relative
        z-index 2
        text-align center
        padding-top 1rem


      .logo


        color $black
        font-size 3.4rem
        line-height 2.7rem
        text-align center
        margin-top 0.2rem
      .toggler
        position absolute
        top 0.7rem
        left -0.5rem
        width 4rem
        height 4rem
        padding 0
      .search
        position absolute
        top 0.7rem
        right -0.5rem
        width 4rem
        height 4rem
        padding 0

      .toggle
        z-index 1
        left 0
        top 5rem
        position fixed
        width 100%
        height calc(100% - 5rem)
        background $white
        display none

        .toggle_content
          padding-bottom 5rem

      .profile
        background $dark
        padding 2rem

        .profile_nav
          li
            padding 1rem 0
            margin 0
            text-align center
            font-size 1.4rem
            a
              font-weight $medium
              text-transform uppercase
              color rgba($white, 0.5)

      .menu
        background $white
        padding 2rem

        .menu_nav
          li
            text-align center
            padding 1rem 0
            a
              font-family $fontTitle
              font-weight $bold
              font-size 3rem
              text-transform uppercase
            &.award
              background-color $gold
              padding 2rem 0
              margin -2rem -2rem 2rem
              a
                color $white
      .social
        .social_nav
          text-align center

  @media $desktop
    .header
      height 11rem
      box-shadow inset 0 6rem 0 -3rem $black, 0 0.2rem 0.5rem 0 rgba(0,0,0,0.13)
      .logo
        font-size 5rem
        color $black
        margin 1.3rem 0 1.7rem
        line-height 5rem


      .actions
        padding-top 3rem
        height 11rem
      .toggler
        display none
      .search
        position absolute
        top 5rem
        right 2rem
        width 4rem
        height 4rem
        padding 0
      .toggle_content
        height 0
      .profile
        position absolute
        top 0
        right 2rem
        .profile_nav
          li
            display inline-block
            height 3rem
            line-height 3rem
            font-size 1.2rem
            font-weight $medium
            position relative
            margin-left 2.5rem
            a
              color rgba($white, 1)
              text-transform uppercase
              &:hover
                color rgba($white, 0.75)
            &.active
              a
                color rgba($white, 0.5)
            &.signup
              margin-left 1.2rem
              padding-left 1.6rem
              &:before
                content ''
                width 1px
                height 1rem
                background rgba($white, 0.5)
                position absolute
                left 0
                top 1rem
            &.signup
            &.signout
            &.signin
              a
                color rgba($white, 0.5)
                &:hover
                  color rgba($white, 0.75)
              &.active
                color rgba($white, 1)

      .menu
        position relative
        top -6rem
        margin 0 18rem
        height 4rem
        .menu_nav
          text-align center
          li
            display inline-block
            line-height 4rem
            margin 0 2rem
            a
              color rgba($black, 0.4)
              font-weight $medium
              font-size: 1.4rem;
              text-transform uppercase
              transition color 200ms ease-out
              &:hover
                color rgba($black, 0.75)
            &.active
              a
                color rgba($black, 1)

            &.award
              a
                color $gold
                &:hover
                  color rgba($gold, 0.75)
              // &.active
              //   a
              //     color rgba($gold, 0.5)
      .social
        display none


mixinHeader()
