mixin header(data = {})
  -
    // Globals: SITE_TITLE, DEFS, MENU, MENU_PROFILE

    const {
      menuProfileActiveIndex,
      menuActiveIndex
    } = DEFS;

  header.header
    +container()
      a.logo(href="/")= SITE_TITLE
      nav.menu
        ul.menu_nav
          each menuItem, index in MENU
            if menuItem.isInHeader
              li(class= index === menuActiveIndex ? 'active' : '' class=menuItem.className)
                a(href=menuItem.href )!= menuItem.title
