mixinPage404()
  .page--404
    .page__content
      display flex
      align-items center
      justify-content center

  .page-404
    width 60rem
    margin 0 auto
    position relative

    .img
      position absolute
      right 0
      top 0
      width 28.5rem
      img
        max-width 100%
        display block
    h1
      width 28.5rem
      margin-bottom 7rem
      position relative
      top -1rem
      .title
        @extend .title--80
        margin-bottom 1rem

      .description
        @extend .title--50
mixinPage404()
