mixin page-404()
    .page-404
      h1
        .title 404
        .description такой страницы не найдено
      a.btn(href="/") На главную
      .img
        img(src="https://loremflickr.com/285/165/dog")
