mixinPage404()
  .page--404
    .page__content
      display flex
      align-items center
      justify-content center

  .page-404
    width 60rem
    margin 0 auto
    position relative

mixinPage404()
