//- *** service *** -//
include ../components/debug/debug.pug
include ../components/svg/svg.pug

//- *** layout *** -//
include ../components/section/section.pug

include ../components/header/header.pug
include ../components/footer/footer.pug

//- *** other share components *** -//


