include _head.pug
include _components.pug
include _constants.pug

block vars
  //- Global defaults in '/layout/_constants.pug'
  //-
  //-
  //- example
  //- -
  //-   DEFS.pageTitle = 'Главная';


doctype html
html.no-js(lang='ru')
  head
    block head
      +head()


  body.page(class=DEFS.pageClass)
    |%=symbols=%


    .page__header
      block header
        +header()

    main.page__content
      block content
        div hello
        //- content here

    //- +popup()
      block popup

    block footer
      .page__footer
        +footer()

    +debug()


    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/separate-js/jquery.js')
    script(src='%=static=%js/vendor%=min=%.js')
    script(src='%=static=%js/main%=hash=%%=min=%.js')

    block script
